input::placeholder {
  color: #000 !important;
}
.login-logo {
  position: relative;
  z-index: 1;
  margin: 10px;
}
.login-logo img {
  max-height: 55px;
}
.logo {
  margin: 5px 0px 10px;
  text-align: center;
}
.logo img {
  max-height: 60px;
  margin-bottom: 10px;
  padding: 5px;
}
.main-login {
  max-width: 450px;
  min-width: 370px;
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  top: 250px;
  right: 30px;
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.7), rgba(231, 60, 126, 0.7), rgba(35, 166, 213, 0.7), rgba(35, 213, 171, 0.7));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
.form-group {
  position: relative;
}
span.input-icon, span.input-help {
  display: block;
  position: relative;
}
.form-login input[type="text"], .form-login input[type="password"], .form-login input[type="text"]:focus, .form-login input[type="password"]:focus {
  background: rgba(252, 182, 45, 0.5) !important;
  border-color: #231f20 !important;
  color: #000 !important;
}
.input-icon>input {
  padding-left: 30px !important;
  padding-right: 6px;
}
input[type="text"], input[type="password"] {
  background: rgba(252, 182, 45, 0.1) !important;
  background-image: none;
  border: 1px solid #231f20;
  border-radius: 0 !important;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 10px;
  transition-duration: 0.1s;
  box-shadow: none !important;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
  background: rgba(252, 182, 45, 0.1) !important;
  background-image: none;
  border: 1px solid #231f20;
}
.input-icon>[class*="fa-"], .input-icon>[class*="ti-"] {
  bottom: 0;
  color: #000;
  display: inline-block;
  left: 5px;
  line-height: 35px;
  padding: 0 3px;
  position: absolute;
  top: -1px;
  z-index: 2;
}
span.input-icon, span.input-help {
  display: block;
  position: relative;
}
.main-login a.forgot {
  color: #000;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 9px;
}
.btn-default {
  background: transparent !important;
  border-color: #000 !important;
  color: #000;
}
.btn-default:hover, .btn-default:focus {
  color: #000;
}
@media (max-width: 992px) {
  .login-logo {
    margin: 10px 0;
  }
  .login-logo {
    width: 100%;
    text-align: center;
  }
}
.footer-style {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  padding: 5px;
  color: #fff;
}
.footer-style a, .footer-style a:hover, .footer-style a:focus {
  color: #fcb62d;
  font-weight: 400;
}